<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quantum.meditation">

    <uses-sdk
        android:minSdkVersion="31"
        android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuantumMeditation">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Dark"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data
                android:name="quantum.ground"
                android:value="${quantumGround}" />
            <meta-data
                android:name="quantum.create"
                android:value="${quantumCreate}" />
            <meta-data
                android:name="quantum.unity"
                android:value="${quantumUnity}" />
        </activity>
    </application>
</manifest>
