numpy==1.24.3
scipy==1.10.1
torch==2.0.1+cu118
torchvision==0.15.2+cu118
torchaudio==2.0.2+cu118
sounddevice==0.4.6
soundfile==0.12.1
websockets==11.0.3
aiohttp==3.8.5
python-rtsp==1.3.0
av==10.0.0
aiortsp==1.3.2
librosa==0.10.1
python-vlc==3.0.18121
moviepy==1.0.3
pillow==10.0.0
psutil==5.9.5
aiofiles==23.1.0
asyncio-mqtt==0.16.1
moderngl==5.8.2
moderngl-window==2.4.4
numba==0.57.1
cupy-cuda12x==12.2.0
opencv-python-headless==4.8.0.76
tensorrt==8.6.1
onnx==1.14.1
onnxruntime-gpu==1.15.1
